:root{
    font-size: 100%;
    --font-size--small: 1.4rem; 
    --font-size--default: 1.6rem; 
    --font-size--large: 2.4rem;
}

@media (min-width:821px) and (max-width: 1462px) {
    :root{
        font-size: 65%;
        --font-size--small: 1.4rem; 
        --font-size--default: 1.6rem; 
        --font-size--large: 2.4rem;
    }
    
    
}
img.logo{
    width: 16rem;
    height: auto;
    margin-top: 2rem;
    
}

.navbar-custom {
    background-color: #041E42;
    opacity: 90%;
}

.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1.6rem;
    margin-top: 3.5rem;
    

}




.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    font-weight: bold;
    
}

.btn-custom-login{
    font-weight:bold;
    
    padding: 0.6rem 1rem;
    font-size: 1.9rem;
    border-radius: 0.6rem;

      
}

.btn-margin{
    margin-left: 2rem;  
    margin-top: 3rem; 
    justify-content: end; 
}

.burger{
    margin-top: 2rem;
}

body {
    background-image: url("AdobeStock_165777477.png") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    margin-left: 3rem;
    font-size: 5rem;
    font-weight: bold;

}

.subtitle{
    margin-left: 3rem;
    margin-top: auto;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.btn-custom-functionality{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    border-radius: 0.6rem;
}

.btn-custom-tag{
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.6rem;
    margin: 0.3rem;
}

@media (max-width: 819px){
    .search-input{
        width: 40%;
    }
}




@media (min-width: 820px){
    span.search-icon{display: none}
    span.search-bar{display: inline-flex}

}

@media (max-width: 819px){
    span.search-bar{display: none}
    .filters{display: none;}
    span.search-icon{display: inline-flex}
}

@media (max-width: 819px){

    .col-sm-9{width: 100%}
}


span.search-bar{
    min-width: 25rem;
}
.labels{
    width: 100%;
}
h3{
    font-size: 1.1rem;
    font-weight: bold;
}


span.pt{   
    color:#0055C9
}

.btn-outline-danger{
  margin-left: 0.2rem;
  color: #FF4064;
  background-color: #ffffff;
  border-color: #FF4064;
  border-width: 0.3rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 0.15rem;
}

.my-card{
    border-width: 00.3rem;
    border-color:rgb(63, 63, 63);
    border-radius: 2rem;

    margin-bottom: 1.5rem;
}

h2{
  font-weight: 900;  
}

h3{
    font-weight: 900;
}

.btn-outline-primary{
    border-width: 0.3rem;
    background-color: white;
    border-radius: 1.5rem;
}

.dropdown-toggle{
    background-color: white;
}

@media (min-width: 820px){
    .dropdown-toggle{font-size: 0.9rem;}
}

@media (max-width: 819px){
    .dropdown-toggle{font-size: 0.7rem;}
}

.btn-danger{
    font-weight: bold;
    background-color: #FF4064;
    font-size: 1.6rem;
}
.card-title{
    font-weight: bold;
}

.foot-title{
    font-weight: bold;
}

span.foot-bold{
    font-weight:600;
}


